.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left {
  /* border: 1px solid red; */
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.main-navigation {
  /* border: 1px solid green; */
}

.main-navigation p {
  /* border: 1px solid purple; */
  /* width: 100px; */
  height: 30px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  text-align: center;
  overflow-x: visible;
  white-space: nowrap;
}

.main-navigation p:hover {
  border-bottom: 2px solid #051937;
  color: #000722;
  transition: 0.1s;
}

.main-navigation p:last-child {
  /* border: 1px solid green; */
  margin-left: 0.5rem;
  margin-right: 0;
}

.flex-column-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ------------------- Line Limits ------------- */

.line-limit-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit the content to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal; /* Allow wrapping for browsers that don't support -webkit-line-clamp */
}

.line-limit-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the content to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal; /* Allow wrapping for browsers that don't support -webkit-line-clamp */
}

.line-limit-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the content to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal; /* Allow wrapping for browsers that don't support -webkit-line-clamp */
}

.line-limit-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limit the content to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal; /* Allow wrapping for browsers that don't support -webkit-line-clamp */
}

.line-limit-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Limit the content to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal; /* Allow wrapping for browsers that don't support -webkit-line-clamp */
}

/* ----------------- Blog post stylings --------------- */

.blog-post-section p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  word-spacing: 5px;
  line-height: 28px;
}

.blog-post-section h1,
.blog-post-section h2,
.blog-post-section h3,
.blog-post-section h4 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

@keyframes disappearAndChangeColor {
  0% {
    opacity: 1;
    color: #051937;
  }
  50% {
    opacity: 0.5;
    color: #e71d36;
  }
  100% {
    opacity: 1;
    color: #051937;
  }
}

.Logo {
  animation: disappearAndChangeColor 5s ease-in-out infinite;
}
